#box-params {
    margin-left:auto; 
    margin-right:auto;
}

#box-params td {
  height: 40px;
  min-width: 12em;
}

#loading-icon {
  position: absolute;
  left: calc(100% / 2);
  top: 200px;
}

.container{
  min-width: 420px
}

#view-stream{
    text-align: center;
}

@media (min-width: 1200px) {
    .container{
        max-width: 770px;
		margin-top : 40px;	
    }
}

.well {
	margin-bottom: 0;
}

.desaturated {
    filter: grayscale(100%);
}

#ex1 {
    width : 600px
}

#ex1Slider .slider-selection {
	background: #5A5A5A;
}

#ex1Slider .slider-track-high {
	background: yellow;
}
